.relative {
  position: relative;
}

.custom-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.custom-play-button .circle {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.custom-play-button .play-icon {
  font-size: 24px;
  color: black;
  z-index: 2;
  margin-left: 4px;
}
