.carousel-wrapper {
  overflow: hidden;
}

.carousel-container {
  display: flex;
  animation: scroll 25s infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-90%);
  }
}
